#change_wrap_div {
    background-repeat: repeat !important;
}
#footer {
    background-color: #ffffff
}
#sub-footer {
    background-color: #ffffff !important;
}
#sub-footer {
    background-repeat: repeat !important;
}
@media only screen and (min-width: 1101px) {
    #header-container.logo-position-left .header-col-right {
        width: 160px !important;
    }
    #header-container.logo-position-left .header-col-fluid {
        margin-right: 160px !important;
    }
}
.dfd-testimonials-custom-font-size .dfd-testimonials .dfd-testimonial-item .dfd-testimonial-content {
    font-size: 19px;
}
#footer-wrap .widget.soc-icons.dfd-soc-icons-hover-style-4 a {
    font-size: 17px;
}
.dfd-team-bigger-icons .dfd-team-box .dfd-team-front .soc-icon-aligment .widget.soc-icons a {
    font-size: 15px;
}
#sub-footer .subfooter-copyright .dfd-footer-copyright-image {
    top: 10px;
    margin-left: 5px;
}
@media only screen and (max-width: 1024px) {
    .wpb_wrapper h5.widget-title {
        line-height: 1.3 !important;
    }
}